.searchBox {
  margin: 70px auto 20px auto;
  max-height: 60px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 18px;
  background: #1c1a1a;
  opacity: 0.8;
  border-radius: 15px;
  position: relative;
  z-index: 100;
}

.searchButton {
  color: white;
  width: 70px;
  height: 50px;
  position: absolute;
  right: 8px;
  border-radius: 30%;
  background: var(--gradient-2, linear-gradient(90deg, #4cc2f5 0%, #0375d3 100%));
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms cubic-bezier(.23, 1, 0.32, 1);
}

.searchButton i {
  font-size: 24px;
}

button:hover {
  color: #ffffff;
  background-color: #1b1b1b;
  box-shadow: rgba(49, 49, 49, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

.searchInput1 {
  border: none;
  background: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 24px 220px 24px 26px;
}

/*cover card when dropdown*/

.suggestions {
  position: absolute;
  top: 60px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  width: 30%;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  z-index: 101;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.hidden-by-dropdown {
  opacity: 0.6;
}

