<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportation</title>
    <link rel="stylesheet" href="styles/body.css"/>
    <link rel="stylesheet" href="styles/header.css"/>
    <link rel="stylesheet" href="styles/footer.css"/>
    <link rel="stylesheet" href="styles/filter.css"/>
</head>
<body>
    <p style="background-image: url('truck.jpg')">
    <header>
        <div class="container">
            <section class="button">
                <button>Search</button>
            </section>
        </div>
    </header>
    <footer>
        <p>Transportation websites</p>
    </footer>
</body>
</html>
