footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgb(25, 59, 252), rgb(49, 144, 253));
    height: 60px;
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}