header {
    /* position: absolute; */
    width: 100%;
    /* background-color: rgb(33, 177, 255); */
    height: 70px;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    /* font-size: 30px;
    text-transform: uppercase; */
    width: 200px;
    height: 150px;
    background: url("/images/icon.png");
    background-size: contain;
    /* display: inline-block; */

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 700;
}

header ul li{
    margin: 30px;
}

header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover, a{
    background: rgb(29, 28, 28);
    color:rgb(0, 131, 253);
}

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}